/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {
	.check__in a .explained {
		top: 50%;
		left: 50%;
		margin: -150px 0 0 -150px;
		position: fixed;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 800px) {
	.sidebar__nav {
		max-width: 360px;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.jQtooltip.txtool div {
		right: inherit !important;
		left: inherit !important;
	}
	.specialist__block .sp_bl {
		margin-bottom: 10px;
	}
	.support-ticket-edit-form table,
	.support-ticket-edit-form thead,
	.support-ticket-edit-form tbody,
	.support-ticket-edit-form tfoot,
	.support-ticket-edit-form td,
	.support-ticket-edit-form tr {
		display: block;
	}
	.overrides .message-form [type="text"], .overrides .message-form textarea {
		width: 100%;
	}
	table.support-ticket-edit-form td.field-name {
		text-align: left;
	}
	.marketing__research__block .courses__left {
		display: block;
		float: none;
		width: 100%;
	}
	.marketing__research__block .courses__right {
		display: block;
	}
	.marketing__research__block .courses {
		display: block;
	}
	.site .content .marketing__research__block .courses .courses__left {
		height: auto !important;
	}
	.comment__header span {
		margin: 0;
	}
	.comment__header {
		text-align: left;
	}
	.check__in a {
		position: inherit;
	}

}

@media only screen and (max-width : 640px) {
	.desktop__search_btn {
		display: none;
	}
	.mobile__search_btn {
		display: block;
	}
	.specialist__block .sp_bl {
		float: none;
		margin: 0 auto 10px;
	}
	.specialist__block {
		width: auto;
	}
	.form__contact_block label span {
		float: none;
		text-align: left;
		padding-bottom: 5px;
	}
	.form__contact_block label input[type='text'] {
		width: 100%;
	}
	.form__contact_block label textarea {
		width: 100%;
	}
	.page_nav {
		padding: 20px 15px;
	}
	.page_nav li {
		margin-bottom: 5px;
	}
	.head__quest_icon .explained {
		right: -20px;
		top: 125%
	}
	
}
@media only screen and (max-width : 580px) {
	.header .site__title {
		position: absolute;
		top: 8px;
		left: 0;
	}
	.without__search {
		position: inherit !important;
	}
	.search__block input[type="text"] {
		background: #fff;
		display: none;
	}
	.input__pole {
		margin: 0 38px 0 8px;
		position: relative;
		z-index: 9;
	}
	.mobile__select_space {
		padding-top: 20px;
		background: #fff;
	}
	.select__view {
		position: absolute;
		top: 45px;
		left: -55px;
		width: 255px;
	}
	.select__view .head__quest_icon i.fa-question-circle {
		color: #6d206d;
	}
	.select__view .jq-selectbox__select {
		background: #6d206d;
	}
	.select__view .plus {
		color: #6d206d;
	}

}
@media only screen and (max-width : 540px) {
	.content__restaurant_bs .restaurant__sidebar {
		float: none;
		margin: 0 auto;
	}
	.restaurant__content {
		padding-left: 10px;
	}
	.sidebar__nav {
		width: 180px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.site__title span.none {
		display: none;
	}
	.nav__btn li .sidebar__nav {
		width: 180px;
	}
	.two__lang_block>div {
		padding: 0;
		float: none;
		width: 100%;
	}
	.head__quest_icon {
		position: inherit;
	}
	.head__quest_icon .explained {
		top: 35px;
		right: 0;
		margin-right: -150px;
	}
	.mob__select .explained {
		margin-right: -75px !important;
	}
	.two__lang_block {
		overflow: visible;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}